#jumbotron-section-service {
    height: 500px;
    background-image: url(https://cdn.pixabay.com/photo/2018/12/27/03/49/billiards-3896935_960_720.jpg);
    background-size: cover; 
    background-position: center center;}